body{
  margin: 0;
  font-family: 'Roboto Condensed', sans-serif;
}

.banner{
  background-image: url(https://unsplash.it/1200/701);
  background-size: cover;
  background-position: center;
  height: 100vh;
  text-align: center;
  color: white;
}

.banner h1{
  margin: 0;
  padding-top: 300px;
}

.container {
  width: 800px;
  margin: 0 auto;
}

h1,
h2,
h3 {
  font-family: 'Montserrat', sans-serif;
}

.highlight{
  font-size: 20px;
  background-color: #EAFDF0;
  display: inline-block;
  padding: 5px;
}
.highlight:hover{
  background-color: #DAEDB0;
}
.highlight:active{
  background-color: red;
}

@media (max-width: 850px){
  .container{
    width: 600px;
  }
}

@media (max-width: 600px){
  .container{
    width: 100%;
  }
}

